body {
    font-family:         'Lato';
    font-weight:         100;
    margin:              0;
    padding:             0;
}

#cover {
    height:              100vh;
    width:               100%;
    background-image:    linear-gradient(-180deg, #F5515F 0%, #9F041B 100%);
    border:              1px solid #FFFFFF;
    flex-direction:      column;
    position:            absolute;
    z-index:             1000;
    transition:          all .4s;
    display:             flex;
}

#cover a {
    text-decoration:     none;
    color:               #fff;
}

.arriba {
    flex:                1;
    height:              50vh;
    display:             flex;
    flex-direction:      column;
    align-items:         center;
    justify-content:     flex-end;
    box-sizing:          border-box;
    padding-bottom:      10%;
}

.arriba h1 {
    font-size:           60px;
    font-weight:         100;
}

.abajo {
    flex:                1;
    height:              50vh;
    display:             flex;
    flex-direction:      column;
    align-items:         center;
    justify-content:     flex-end;
    box-sizing:          border-box;
    padding-bottom:      20%;
}

.abajo span {
    font-size:           60px;
}

#cover:target {
    transform:           translateY(-100vh);
}

#grid {
    position:            absolute;
    top:                 0;
    left:                0;
    height:              100vh;
    width:               100%;
    margin:              0;
    padding:             0;
}

#grid > nav {
    position:            absolute;
    top:                 0;
    left:                0;
    height:              100vh;
    width:               100%;
    background:          #eee;
    margin:              0;
    padding:             0;
}

#grid > nav > section {
    position:            absolute;
    top:                 0;
    left:                0;
    height:              100vh;
    width:               100%;
    margin:              0;
    padding:             0;
}

#grid ul {
    height:              100vh;
    display:             flex !important;
    flex-direction:      column !important;
    margin:              0;
    padding:             0;
}

#grid ul li {
    flex: 1 !important;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    
    
    
    
}
    

#grid ul li a {
    display: block;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    
    text-shadow: 3px 3px 3px  rgba(255, 255, 255, 1);
    background: rgba(0 ,0 ,0 ,.4 );
    
    font-weight: 100;
}

#grid ul li:first-child   {     
    background-image: linear-gradient(-180deg, #00396F 0%, #E5E9BF 100%);
    border: 1px solid #FFFFFF;
    }
    
    
#grid ul li:nth-child(2)  {     
    background-image: linear-gradient(-180deg, #729197 0%, #013A6F 100%);
    border: 1px solid #FFFFFF;
    }
    
#grid ul li:nth-child(3)  { 
    background-image: linear-gradient(-180deg, #085078 0%, #4290A0 100%);
    border: 1px solid #FFFFFF;
    }

#grid ul li:nth-child(4)  {
    background-image: linear-gradient(0deg, #45536F 0%, #232B3B 100%);
    border: 1px solid #FFFFFF;
    }
    
    
#grid ul li:nth-child(5)  {
    background-image: linear-gradient(-180deg, #7474BF 0%, #348AC7 100%);
    border: 1px solid #FFFFFF;
    }
    
#grid ul li:nth-child(6)  {
    background-image: linear-gradient(-179deg, #6ED6FF 0%, #20AEF5 41%, #0F8DE8 77%, #0070DC 100%);
    border: 1px solid #FFFFFF;
    }
    
#grid ul li:nth-child(7)  {
    background-image: linear-gradient(-180deg, #00396F 0%, #E5E9BF 100%);
    border: 1px solid #FFFFFF;
    }
    
#grid ul li:nth-child(8)  { 
    background-image: linear-gradient(-180deg, #F5515F 0%, #9F041B 100%);
    border: 1px solid #FFFFFF;
    }
    
#grid ul li:nth-child(9)  {
    background-image: linear-gradient(-180deg, #A0051C 0%, #FBAD3F 100%);
    border: 1px solid #FFFFFF;
    }
    
#grid ul li:nth-child(10) {
    background-image: linear-gradient(0deg, #3CD3AD 0%, #0B8BAD 100%);
    border: 1px solid #FFFFFF;
    }
    
#grid ul li:last-child    {
    background-image: linear-gradient(0deg, #FBAD3F 0%, #FF3727 100%);
    border: 1px solid #FFFFFF;
    }



@media only screen 
and (min-device-width : 667px) {
    



#grid ul li {
    position: absolute;
    background-repeat: no-repeat;
}

#grid ul li:first-child   { 
    width: 25%; 
    height: 25%; 
    left:   0; 
    top:   0;
    }
    
    
#grid ul li:nth-child(2)  { 
    width: 25%; 
    height: 25%; 
    top: 25%; 
    left:   0; 
    }
    
#grid ul li:nth-child(3)  { 
    width: 25%; 
    height: 50%; 
    left:   25%; 
    top: 0%;
    }

#grid ul li:nth-child(4)  { 
    width: 50%; 
    height: 25%; 
    left:   50%; 
    top: 0%;
    }
    
    
#grid ul li:nth-child(5)  { 
    width: 25%; 
    height: 25%;
    left: 50%; 
    top: 25%;
    }
    
#grid ul li:nth-child(6)  { 
    width: 25%; 
    height: 25%; 
    left: 75%;  
    top: 25%;
    }
    
#grid ul li:nth-child(7)  { 
    width: 25%; 
    height: 50%; 
    left:  0%;  
    top: 50%;
    }
    
#grid ul li:nth-child(8)  { 
    width: 50%; 
    height: 25%; 
    left: 25%;  
    top: 50%;
    }
    
#grid ul li:nth-child(9)  { 
    width: 25%; 
    height: 25%; 
    left: 25%; 
    top: 75%;
    }
    
#grid ul li:nth-child(10) { 
    width: 25%; 
    height: 25%; 
    left: 75%; 
    top: 50%;
    }
    
#grid ul li:last-child    { 
    width: 50%; 
    height: 25%; 
    left: 50%; 
    top: 75%;
    }

#grid ul li:nth-child(8) {   
    transform: scale(.5);
    transition: all .7s;
}    

#cover:target + #grid ul li:nth-child(8) {
    transform: scale(1);
}



}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { /* STYLES GO HERE */}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { /* STYLES GO HERE */ }


