
		<!-- Header Back -->
		<div class="header-back header-back-simple header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Page Info -->
							<div class="page-info page-info-simple">
								<h1 class="page-title">Arquitectura Front-End</h1>
								<h2 class="page-description">Arquitectura de Frontend es una colección de conocimientos, habilidades, herramientas y procesos para mejorar la calidad del código del lado del cliente, en todos los navegadores y dispositivos, mientras crea un flujo de trabajo eficiente y sostenible.</h2>
							</div>
							<!-- End Page Info -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header Back -->
        <!-- yield -->
        
        
        
        
        
        
        
        
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        
                        
                        
                        
                                          
                        
								<!-- Table of content -->
								<div class="table-of-contents">
									<ol>
										<li>
											<a href="#" class="js-scroll-to" data-target="#arquitectura-front-end">Arquitectura Front-End</a>
										</li>
										
									</ol>
								</div>
                        
                        
                        

                                               
          <!-- Category Info -->
    <div class="category-info " id="arquitectura-front-end">
							<h3 class="category-title">Arquitectura front-End
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
        </h3>
        <h4 class="category-description" id="">La arquitectura Front-End engloba todos los <strong>conocimientos y habilidades para adquirir las competencias necesarias para el diseño, desarrollo, implementación y mantenimiento de un sitio web</strong>.</h4>
         
         <p>La arquitectura Front-End ha evolucionado a una velocidad exponencial teniendo que <strong>adapatarse rápidamente a la forma en que los usuarios consumen los contenidos a través de internet</strong>.</p>
         
          <p>Además ahora los usuarios <strong>además de consumir contenido generan el contenido</strong>.</p>
          
          <p>Otro <strong>dato</strong> a tener en cuenta es que estos contenidos, junto con el perfil del que los genera, su ubicación, la interacción que provocan aportan una <strong>información que tiene mucho valor</strong>, principalmente para el análisis de mercados de negocios.</p>
          <p>El acceso mayoritario a los contendios de Internet es a través del movil.</p>
          
          <p>Antes se buscaba en el diseño web un diseño elegante que encajase con la identidad corporativa y que fuera sencillo de mantener.</p>
          
          <p>Ahora la prioridad es que la página web <strong>responda y forme parte del objetivo de negocio de la empresa.</strong></p>
          
          <p>Los criterios a estudiar:</p>
      
       
       <ul>
           <li>Cumplir con los <strong>objetivos de negocio</strong> de la página Web.</li>
           <li>Que esté basado en <strong>Analytics</strong> y permita test A/B.</li>
           <li>Usabilidad en <strong>móviles. Tiempo de descarga y consumo de datos</strong>.</li>
           <li>Optimizar la <strong>experiencia del usuario</strong>.</li>
           <li><strong>Adaptativo (%) y Responsive (@media)</strong>.</li>
           <li>Disponer de imágenes de mucha calidad.</li>
           <li>El SEO para <strong>posicionamiento en buscadores</strong>.</li>
           <li>Integración de <strong>RRSS</strong>.</li>
           <li>Integración de un <strong>Blog</strong>.</li>
       </ul>
       
      
       
       <p>Tendencias:</p>
       
       <ul>
           <li>Single-page application (SPA) que embeben porciones de código que pueden reponder a funcionalidades o las secciones del menú dentro de una página principal. Lo que obliga a contemplar un factor más a la hora de diseñar y codificar el marcado HTML.</li>
           <li>Nodejs que codifica el marcado en Jade.</li>
           <li>Nodejs, Angular y React son ejemplos de la velocidad exponencial del actual escenario de desarrollo web donde antes de ser capaces de comprender, aprender y adquirir experiencia en una tecnología, esta ya está desfasada por otra más novedosa.</li>
           <li>Los diseños estandarizados de los móviles en sus dos variantes: android e iOS marcan pautas del diseño de las interfaces.</li>
           <li>Gulp y Grunt, Harpjs, Prepros y Koala son herramientas de compilación y tareas como concatenación, minificación y optimización que se deben de mantener corriendo mientras trabajamos codificando el HTML.</li>
           <li>Amazon AWS y Azure como hostings por las numerosas funcionaliades que aportan.</li>
           <li>GitHub, Bitbucket o Visual Studio Online como repositorios y para la gestión de versiones del codigo.</li>
           <li>Editores HTML: Brackets, o en su defecto Sublime Text y On line: CodePen.</li>
           <li>Uso de CDNs.</li>
       </ul>
       
       <p><strong>Los Gestores de Versiones</strong> como GitHub, Bitbucket y Visual Studio Online gestionan automaticamente en un repositorio las modificaciones que se realizan sobre un proyecto. Los gestores de versiones guardan versiones, instantaneas, del conjunto del proyecto en un momento concreto. A diferencia de los gestores documentales que guardan un histórico de versiones de cada archivo y no así de una instantanea del conjunto de todo el repositorio.</p>
       
       <p>Un <strong>CDN es una red de entrega de contenidos</strong> (CDN, content delivery network en inglés) es una red superpuesta de computadoras que contienen copias de datos, colocados en varios puntos de una red con el fin de maximizar el ancho de banda para el acceso a los datos de clientes por la red. Un cliente accede a una copia de la información cerca del cliente, en contraposición a todos los clientes que acceden al mismo servidor central, a fin de evitar embudos cerca de ese servidor.</p>
       
    </div>

<!-- End of Caregory Info -->




                  
  
                   
</div></div></div></div>