        <!-- yield -->
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">    
                    
                    
                    <!-- Category Info -->
						<div class="category-info " id="code-highlight-mixed">
							<h3 class="category-title"> CV
								<!-- Fragment Identifier -->
								<a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#code-highlight-mixed">
									<i class="fa fa-link"></i>
								</a>
								<!-- End of Fragment Identifier -->
							</h3>
							<h4 class="category-description">"Siempre estoy haciendo lo que no puedo hacer, para poder aprender cómo hacerlo."</h4>
						</div>
						<!-- End of Caregory Info -->
						<!-- Mixed Code Highlight -->
						<div class="code-highlight">
							<span class="js-copy-to-clipboard copy-code">copy</span>
                            <pre><code class="language-css js-code">
   

   /**
    *  Description: CV - Francisco Marinas Site
    *  Version: 1.0.0 (2017)
    *  Author: Francisco Marinas.
    *  
    *
    *  Arquitectura Front-end, diseñador y desarrollador HTML y CSS.
    *
    *  1. Acerca de mí.
    *  2. Timeline.
    */
   
   
   
   
   /**
    *  1. Acerca de mí.
    */
      
    .yo {
      nombre:        "Francisco Marinas";
      perfil:        "Front-end";
      habilidades:   "Front-end", "Diseño", "Desarrollo", "HTML5", "CSS3", "Sass", "jQuery",
      "Photoshop";
      conocimientos: "HTML5", "CSS3", "Sass", "jQuery", "Photoshop";
      competencias:  "Gestión de Equipos", "Gestión de Proyectos", 
      "Comunicación", "Liderazgo";
      inquietudes:   "HTML", "EMMET", "Jade", "Markdown", "CSS", "SASS", "LESS",
      "Gulp", "Grunt", "HarpJS", "JavaScript", "EJS", "jQuery", "Angular", 
      "React", "Git", "Azure", "Amazon";    
      }
    
      
    .yo__contacto {
      email:         francisco.marinas@gmail.com;
      web:           www.titaniodigital.com;
      codepen:
      twitter:
      }
      


  
   /**
    *  2. Timeline.
    */
    
    @empresa Intergrupo {
      from {ano: 2001;}
      to   {ano: "actualidad"}
    }
    
    .trabajo {
      puesto: "Responsable Dpt. Tecnología"
     
                        </code></pre></div>
    <!-- End of Mixed Code Highlight -->
    
   
  
                    </div></div></div></div>