
		<!-- Header Back -->
		<div class="header-back header-back-simple header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Page Info -->
							<div class="page-info page-info-simple">
								<h1 class="page-title">Modelo flexible de cajas</h1>
								<h2 class="page-description">El modelo de cajas flexible resuelve los problemas del Modelo de caja tradicional de una manera elegante.</h2>
							</div>
							<!-- End Page Info -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header Back -->
        <!-- yield -->
        
        
        
        
        
        
        
        
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        
                        
                        
                        
                                          
                        
								<!-- Table of content -->
								<div class="table-of-contents">
									<ol>
										<li>
											<a href="#" class="js-scroll-to" data-target="#cajas">Modelo flexible de cajas</a>
										</li>
										
									</ol>
								</div>
                        
                        
                        

                                               
          <!-- Category Info -->
    <div class="category-info " id="arquitectura-front-end">
							<h3 class="category-title">Modelo flexible de cajas
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#cajas">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
        </h3>
        
        
             <h4><strong>Modelo de cajas flexible</strong></h4>
      <p>El propósito principal de un modelo de caja es hacer que sea posible dividir el espacio de la ventana en varias cajas y, así, crear las filas y columnas que formen un diseño web regular. Sin embargo, el Modelo de caja tradicional, aplicado desde la primera versión de CSS y ampliamente utilizado hasta hoy, fracasa en este sentido. No es posible definir de manera eficiente cómo se distribuyen las cajas y especificar su tamaño horizontal y vertical sin usar trucos y reglas intrincadas programadas por un tipo brillante en algún lugar del mundo.</p>
      
      <p>El modelo de cajas flexible resuelve los problemas del Modelo de caja tradicional de una manera elegante representando las filas y columnas que diseñadores y usuarios realmente ven en pantalla consiguiendo un control total sobre el diseño, la posición y el tamaño de las cajas, la distribución de unas cajas dentro de otras, y la forma en la que estas usan y comparten el espacio disponible.</p>
      
     <h4><strong>Contenedor flexible</strong></h4>
      <p>Un contenedor flexible es un elemento que permite que su contenido se adapte.</p>
      
      <p>Características importantes de este modelo, como la orientación vertical y horizontal, se declaran en los contenedores.</p>
      
      <p>Los elementos flexibles deben tener un elemento padre común dentro del cual puedan ser organizados, es decir, en este modelo cada conjunto de cajas tiene que estar anidado dentro de otra caja.</p>
      
     <h4><strong>Display</strong></h4>
      <p>Un contenedor flexible se define con la propiedad <strong>display</strong> y puede ser descrito como un elemento de bloque con el valor <strong>flex</strong> o como un elemento en línea con el valor <strong>inline-flex</strong>.</p>
      
      <h4><strong>Ejes</strong></h4>
      <p>Un contenedor flex utiliza ejes para describir la <strong>orientación de su contenido</strong>.</p>
      
      <p>La especificación declara dos ejes que son independientes de la orientación: <strong>el eje principal y el eje transversal</strong>. En el eje principal es distribuido el contenido y por lo general equivale a la orientación horizontal, mientras que el transversal equivale a la orientación vertical. Si la orientación es modificada, los ejes se desplazan junto con el contenido.</p>
      
      <h4><strong>Propiedad flex</strong></h4>
      <p>Para que un elemento dentro de un contenedor flexible sea también flexible tiene que ser declarado como <strong>flex</strong>.</p>    
      
      <ul>
          <li>flex: flex-grow</li>
          <li>flex-shrink</li>
          <li>flex-basis</li>
      </ul>
      
      <p>Para declarar una caja como flexible deberá dar como mínimo un valor de 1 al primer parámetro <strong>flex-grow</strong>. Este parámetro declara la relación de expansión del elemento, qué tanto crecerá el elemento dependiendo de la configuración de los elementos hermanos.</p>
      
      <p><strong>flex-shrink</strong> declara la relación de reducción o qué tanto se podrá ser reducido por el elemento según la configuración de sus hermanos.</p>
      
      <p><strong>flex-basis</strong> indica el tamaño inicial para el elemento que será considerado al distribuir el espacio libre entre todos los elementos que se encuentren dentro del contenedor.</p>
      
      <img src="images/flex1.png" alt="Modelo de cajas flexible">
      
      <pre>
<strong>HTML</strong>
<!--http://www.web2generators.com/html-based-tools/online-html-entities-encoder-and-decoder-->
&lt;section id=&quot;contenedor&quot;&gt; 
    &lt;div id=&quot;caja1&quot;&gt;Caja1&lt;/div&gt; 
    &lt;div id=&quot;caja2&quot;&gt;Caja2&lt;/div&gt; 
    &lt;div id=&quot;caja3&quot;&gt;Caja3&lt;/div&gt; 
    &lt;div id=&quot;caja4&quot;&gt;Caja4&lt;/div&gt; 
&lt;/section&gt;

<strong>CSS</strong>

#contenedor{
	display: flex;
	display: -webkit-flex;
	width: 600px;
}
#caja1{
	flex: 1;
	-webkit-flex: 1;
	background: #ccc;
	height: 150px;
	margin: 5px;
}
#caja2{
	flex: 1;
	-webkit-flex: 1;
	background: #ccc;
	height: 150px;
	margin: 5px;
}
#caja3{
	flex: 1;
	-webkit-flex: 1;
	background: #ccc;
	height: 150px;
	margin: 5px;
}
#caja4{
	flex: 1;
	-webkit-flex: 1;
	background: #ccc;
	height: 150px;
	margin: 5px;
}

      </pre>
      
  <p data-height="265" data-theme-id="0" data-slug-hash="YqWWeQ" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Modelo de cajas flexible" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/YqWWeQ/">Modelo de cajas flexible</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
      
      
      
      
      
      
      
      <p></p>
      <h4><strong>Modelo de cajas flexible flex direction</strong></h4>
<p data-height="265" data-theme-id="0" data-slug-hash="JXKWLp" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Modelo de cajas flexible flex direction" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/JXKWLp/">Modelo de cajas flexible flex direction</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
      
      
      
      
      
      
      
      <p></p>
      <h4><strong>Modelo de cajas flexible justify-content</strong></h4>
<p data-height="265" data-theme-id="0" data-slug-hash="GZqmjg" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Modelo de cajas flexible justify-content" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/GZqmjg/">Modelo de cajas flexible justify-content</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
      
      
      
      
      
      
      <p></p>
      <h4><strong>Modelo de cajas flexible align-items</strong></h4>
<p data-height="265" data-theme-id="0" data-slug-hash="vGKmWY" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Modelo de cajas flexible align-items" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/vGKmWY/">Modelo de cajas flexible align-items</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
      
      
      
      
      
      
      <p></p>
      <h4><strong>Modelo de cajas flexible align-items: stretch</strong></h4>
<p data-height="265" data-theme-id="0" data-slug-hash="aNZWEP" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Modelo de cajas flexible align-items: stretch" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/aNZWEP/">Modelo de cajas flexible align-items: stretch</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
      
        
<!-- End of Caregory Info -->




                  
  
                   
</div></div></div></div>