
		<!-- Header Back -->
		<div class="header-back header-back-simple header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Page Info -->
							<div class="page-info page-info-simple">
								<h1 class="page-title">Flotar en CSS</h1>
								<h2 class="page-description">Posicionamiento Flotante.</h2>
							</div>
							<!-- End Page Info -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header Back -->
        <!-- yield -->
        
        
        
        
        
        
        
        
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        
                        
                        
                        
                                          
                        
								<!-- Table of content -->
								<div class="table-of-contents">
									<ol>
										<li>
											<a href="#" class="js-scroll-to" data-target="#cajas">Flotar en CSS</a>
										</li>
										
									</ol>
								</div>
                        
                        
                        

                                               
          <!-- Category Info -->
    <div class="category-info " id="arquitectura-front-end">
							<h3 class="category-title">Flotar en CSS
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#cajas">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
        </h3>
        
        
             <h4><strong>Posicionamiento Flotante</strong></h4>
     <p>La caja deja de pertenecer al flujo normal de la página, el resto de cajas ocupan el lugar dejado por la caja flotante. y se desplaza hasta la zona más a la izquierda o más a la derecha de la posición en la que originalmente se encontraba.</p>
     
    <p data-height="265" data-theme-id="0" data-slug-hash="RRJggR" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Posicionamiento Flotante" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/RRJggR/">Posicionamiento Flotante</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
     
     <p>Si la caja 1 se posiciona de forma flotante hacia la izquierda:</p>
     
     <p>La caja 1 es de tipo flotante, por lo que desaparece del flujo normal de la página y el resto de cajas ocupan su lugar. El resultado es que la caja 2 ahora se muestra donde estaba la caja 1 y la caja 3 se muestra donde estaba la caja 2.</p>
     
     <p>Al mismo tiempo, la caja 1 se desplaza todo lo posible hacia la izquierda de la posición en la que se encontraba. El resultado es que la caja 1 se muestra encima de la nueva posición de la caja 2 y tapa todos sus contenidos.</p>
        
<!-- End of Caregory Info -->




                  
  
                   
</div></div></div></div>