
		<!-- Header Back -->
		<div class="header-back header-back-simple header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Page Info -->
							<div class="page-info page-info-simple">
								<h1 class="page-title">Marcado HTML5</h1>
								<h2 class="page-description">Sintaxis.</h2>
							</div>
							<!-- End Page Info -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header Back -->
        <!-- yield -->
        
        
        
        
        
        
        
        
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        
                        
                        
                        
                        
                        
                        
                        
								<!-- Table of content -->
								<div class="table-of-contents">
									<ol>
										<li>
											<a href="#" class="js-scroll-to" data-target="#grid">Grid</a>
											<ol>
												<li>
													<a href="#" class="js-scroll-to" data-target="#displaygrid">display: grid;</a>
												</li>
											</ol>
										</li>
										
										
										<li>
											<a href="#" class="js-scroll-to" data-target="#referencias">Referecias</a>
											<ol>
												<li>
													<a href="#" class="js-scroll-to" data-target="#referencias-web">web</a>
												</li>
											</ol>
										</li>
									</ol>
								</div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
     
     
     
     
     
     

                                               
          <!-- Category Info -->
    <div class="category-info helper pt0" id="simple-highlight">
        <h3 class="category-title" id="grid">Grid
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
        </h3>
        <h4 class="category-description" id="displaygrid">display: grid/inline-grid;</h4>
         
        <p></p>
    </div>

<!-- End of Caregory Info -->
 
 
 
 
 
 
 
<!-- Category Info -->
    <div class="category-info helper pt0" id="simple-highlight">
        <h3 class="category-title" id="referencias">Referencias
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
        </h3>
        <h4 class="category-description" id="referencias-web">Referencias Web</h4>
         
        <p></p>
        <ul>
            <li> <a href="https://css-tricks.com/snippets/css/complete-guide-grid/">A Complete Guide to Grid</a></li>
            <li><a href="https://carlosazaustre.es/blog/css-grid-layout-css/">EL FUTURO DE CSS GRID LAYOUT</a></li>
            <li><a href="https://www.w3.org/TR/css-grid-1/">CSS Grid Layout Module Level 1</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout">CSS Grid Layout</a></li>
            <li><a href=" ">Grid by Example</a></li>
            <li><a href="https://drafts.csswg.org/css-grid/#track-sizing">CSS Grid Layout Module Level 1</a></li>
        </ul>
    </div>

<!-- End of Caregory Info -->












