
		<!-- Header Back -->
		<div class="header-back header-back-simple header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Page Info -->
							<div class="page-info page-info-simple">
								<h1 class="page-title">Lean Website</h1>
								<h2 class="page-description">Es el momento de utilizar las sorprendentes herramientas disponibles para crear sitios web más rápido y aprender a mejorar la experiencia y la satisfacción del usuario. Porque a nadie le gusta esperar. Código limpio, ligero y eficiente.</h2>
							</div>
							<!-- End Page Info -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header Back -->
        <!-- yield -->
        
        
        
        
        
        
        
        
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        
                        
                        
                        
                        
                        
                        
                        
								<!-- Table of content -->
								<div class="table-of-contents">
									<ol>
										<li>
											<a href="#" class="js-scroll-to" data-target="#diseno-web">CSS Grid Layout</a>
										</li>
									</ol>
								</div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
     
     
     
     
     
     

                                               
        <!-- Category Info -->
        <div class="category-info helper pt0" id="simple-highlight">
        <h3 class="category-title" id="diseno-web">Rendimiento
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
        </h3>
        <h4 class="category-description" id="">La palabra lean.</h4>
         
         <p>¿qué significa la palabra lean? "Lean" se usa para describir tanto la naturaleza del producto que creamos como el proceso de crearlo. Mantener un producto lean significa eliminar cualquier cosa que pueda impedir su rendimiento. 
         <br>En el caso de un sitio web, esto significa mantener un enfoque claro en los elementos que agregan valor al sitio y asegurarse de que estos elementos están optimizados para proporcionar la mejor experiencia posible al usuario. Del mismo modo, cuanto más practiquemos la construcción de sitios web optimizados y ligeros, más ligeros y eficiente será el proceso, convirtiéndose en parte de nuestro ADN en el despliegue de sitios.</p>
         <p>hay malas noticias. Desde una perspectiva de rendimiento, hay muchas cosas que se puede hacer mal -y probablemente están haciendose mal- cuando se trata de la construcción de sitios web! Pero bueno, también hay buenas noticias: hay muchas maneras relativamente fáciles de solucionar esos problemas.</p>
         
         
         
         
        <h4 class="category-description" id="lapsicologíadelavelocidad">La psicología de la velocidad</h4>
        <p>¿Por qué la gente deja un sitio web? Podría haber muchas razones, como dificultades para encontrar lo que están buscando. Pero hay una buena probabilidad de que los usuarios abandonen un sitio porque lo percibe demasiado lento para cargar. En esta sección, quiero llamar la atención sobre <strong>la psicología, y cómo desempeña un papel importante en nuestra percepción de la velocidad y el rendimiento</strong>.</p>
        
        <p><strong>¿Qué es "Demasiado Lento", y Cuándo los Sitios Web "Sienten" Lentos?</strong></p>
        <p>Como el psicólogo Jeremy Dean señala, el tiempo no vuela cuando nos estamos divirtiendo. ¿Cuándo experimentamos diversión? Claramente, no es cuando tenemos que esperar. ¿A quién le gusta esperar, especialmente en este mundo de constantes noticias y respuestas? Hoy en día, las personas desean satisfacción instantánea y tienen muy poca paciencia. Amazon ofrece un día de entrega; Un taxi no debe tardar más de diez minutos en llegar. Nos hemos convertido en una sociedad donde la espera ya no es aceptable, especialmente cuando se trata del mundo en línea. <strong>Cuando visitamos sitios web, si no recibimos una respuesta instantánea, el sitio de un competidor está a sólo un clic de distancia</strong>.</p>
        <p>El problema con la discusión de la velocidad del sitio web es que la percepción de la velocidad es muy subjetiva y muy contextual. Lo que se siente lento para mí no puede sentirse lento, digamos, a mi padre o a mi abuela. Todos tenemos diferentes expectativas.</p>
        
        <p><strong>La Primera Ley de Servicio de Maister</strong></p>
        <p>David Maister, ex profesor de la Harvard Business School, elaboró una fórmula para la ley del servicio. La fórmula -el resultado de varios años de investigación- proporciona una medida de cómo esperar un servicio específico afecta a las percepciones de los clientes tanto del servicio prestado como del producto real.</p>
        <p>La fórmula de Maister afirma que <strong>Satisfacción = Percepción - Expectativa</strong>.</p>
        <p>En el contexto del rendimiento web y el suministro de contenido a los visitantes del sitio, esta fórmula plantea las siguientes preguntas:</p>
        <ul>
            <li>¿Qué fue realmente servido y presentado al visitante, y si el contenido satisfizo el objetivo del usuario?</li>
            <li>¿Qué percibió el visitante?</li>
            <li>¿Qué esperaba realmente el visitante?</li>
        </ul>
        
        <p><strong>Satisfacción</strong></p>

 
         
                 
                    
         
         
         
         
         
         
         
          
          
       
    </div>

<!-- End of Caregory Info -->
                 		

                  		
                  		
                  		
                  		

                   
</div></div></div></div>