
		<!-- Header Back -->
		<div class="header-back header-back-simple header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Page Info -->
							<div class="page-info page-info-simple">
								<h1 class="page-title">Lean Website</h1>
								<h2 class="page-description">Es el momento de utilizar las sorprendentes herramientas disponibles para crear sitios web más rápido y aprender a mejorar la experiencia y la satisfacción del usuario. Porque a nadie le gusta esperar. Código limpio, ligero y eficiente.</h2>
							</div>
							<!-- End Page Info -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header Back -->
        <!-- yield -->
        
        
        
        
        
        
        
        
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        
                        
                        
                        
                        
                        
                        
                        
								<!-- Table of content -->
								<div class="table-of-contents">
									<ol>
										<li>
											<a href="#" class="js-scroll-to" data-target="#diseno-web">CSS Grid Layout</a>
										</li>
									</ol>
								</div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
     
     
     
     
     
     

                                               
        <!-- Category Info -->
        <div class="category-info helper pt0" id="simple-highlight">
        <h3 class="category-title" id="diseno-web">Rendimiento
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
        </h3>
        <h4 class="category-description" id="">La palabra lean.</h4>
         
         <p>¿qué significa la palabra lean? "Lean" se usa para describir tanto la naturaleza del producto que creamos como el proceso de crearlo. Mantener un producto lean significa eliminar cualquier cosa que pueda impedir su rendimiento. 
         <br>En el caso de un sitio web, esto significa mantener un enfoque claro en los elementos que agregan valor al sitio y asegurarse de que estos elementos están optimizados para proporcionar la mejor experiencia posible al usuario. Del mismo modo, cuanto más practiquemos la construcción de sitios web optimizados y ligeros, más ligeros y eficiente será el proceso, convirtiéndose en parte de nuestro ADN en el despliegue de sitios.</p>
         <p>hay malas noticias. Desde una perspectiva de rendimiento, hay muchas cosas que se puede hacer mal -y probablemente están haciendose mal- cuando se trata de la construcción de sitios web! Pero bueno, también hay buenas noticias: hay muchas maneras relativamente fáciles de solucionar esos problemas.</p>
         

 
         
                 
                    
         
         
         
         
         
         
         
          
          
       
    </div>

<!-- End of Caregory Info -->
                 		

                  		
                  		
                  		
                  		

                   
</div></div></div></div>