
		<!-- Header Back -->
		<div class="header-back header-back-simple header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Page Info -->
							<div class="page-info page-info-simple">
								<h1 class="page-title">CSS Grid Layout</h1>
								<h2 class="page-description">CSS4 como tal no existe. A partir de CSS3 el estándar para hojas de estilo en cascada se divide en módulos, cada uno con su número de versión. Dentro de estos nuevos módulos CSS nos encontramos con Grid Layout. No sustituye a Flexbox, si no que lo complementa y es una alternativa para el mismo problema.</h2>
							</div>
							<!-- End Page Info -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header Back -->
        <!-- yield -->
        
        
        
        
        
        
        
        
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        
                        
                        
                        
                        
                        
                        
                        
								<!-- Table of content -->
								<div class="table-of-contents">
									<ol>
										<li>
											<a href="#" class="js-scroll-to" data-target="#diseno-web">CSS Grid Layout</a>
										</li>
									</ol>
								</div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
     
     
     
     
     
     

                                               
        <!-- Category Info -->
        <div class="category-info helper pt0" id="simple-highlight">

<h3 class="category-title" id="diseno-web">Conceptos básicos del Módulo de Cuadrícula
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
</h3>
<h4 class="category-description" id="">Definiendo una cuadrícula</h4>
         
<p> Introduce un sistema de <strong>cuadrícula bidimensional</strong> y define la relación en términos de:. </p>
<ul>
    <li>tamaño</li>
    <li>posición y</li>
    <li>capa</li>
</ul>


            
<h3 class="category-title" id="diseno-web">¿Qué es una cuadrícula? 
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
</h3>

<p>Conjunto de intersección de líneas horizontales y verticales que definen filas y columnas (pistas). Los elementos se pueden colocar en la cuadrícula, respetando esas columnas y filas. El diseño de la cuadrícula CSS tiene las siguientes características: </p>

<h4 class="category-description" id="">Tamaño de pista fijo y flexible</h4>
<p>El tamaño de pista se puede establecer en <strong>tamaño fijo</strong> con <strong>px</strong> o <strong>tamaños flexibles</strong> utilizando <strong>%</strong> o la unidad <strong>fr (flex)</strong>.</p>

<h4 class="category-description" id="">Colocación del elemento</h4>
<p>Puede colocar elementos en una <strong>ubicación precisa en la cuadrícula usando números de línea, nombres o apuntando a un área de la cuadrícula</strong>. Hay un algoritmo para controlar la ubicación de los elementos que no tienen una posición explícita en la cuadrícula. </p>

<h4 class="category-description" id="">Creación de pistas adicionales para el contenido</h4>
<p>La especificación también se ocupa del contenido agregado fuera de una cuadrícula declarada, que agrega filas y columnas adicionales cuando sea necesario. <strong>Se incluyen características para agregar "tantas columnas como las que caben en un contenedor"</strong>.</p>

<h4 class="category-description" id="">Control de alineación</h4>
<p>La cuadrícula <strong>contiene características de alineación</strong> para controlar cómo se alinean los elementos una vez ubicados en un área de la cuadrícula, y cómo se alinea toda la cuadrícula.</p>

<h4 class="category-description" id="">Control de contenido superpuesto</h4>
<p><strong>Se puede colocar más de un elemento en una celda o área de la cuadrícula, pueden superponerse parcialmente entre sí</strong>. Esta estratificación se puede controlar con la propiedad <code>z-index</code>.</p>
<p>Grid es una poderosa especificación y cuando se combina con otras partes de CSS como flexbox, puede ayudarte a crear diseños que antes eran imposibles de construir en CSS.</p>
<p><strong>Todo comienza creando una cuadrícula en su contenedor. </strong></p>








<h3 class="category-title" id="diseno-web">Contenedor de cuadrícula
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
</h3>

<p>Al crear un contenedor de cuadrícula declarando <code>display: grid</code> o <code>display: inline-grid</code> <strong>todos los hijos directos de ese elemento se convertirán en elementos de la cuadrícula</strong>.</p>

<p>En el siguiente ejemplo, hay un div que contiene un contenedor y dentro cinco elementos secundarios.</p>

         <!-- Code Highlight Attached -->
						<div class="code-highlight-attached">
							<div class="code-highlight code-highlight-with-label" data-label="HTML">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-markup js-code">
&lt;div class="contenedor"&gt;
  &lt;div class="celda">1&lt;/div&gt;
  &lt;div class="celda">2&lt;/div&gt;
  &lt;div class="celda">3&lt;/div&gt;
  &lt;div class="celda">4&lt;/div&gt;
  &lt;div class="celda">5&lt;/div&gt;
&lt;/div&gt;
</code></pre> </div>
							<div class="code-highlight code-highlight-with-label" data-label="CSS">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-css js-code">
/* Reset.css incluido */

.contenedor {
  display:    grid;
}

.celda {
  background: #abcdef;
  height:     2em;
  margin:     .2em;
  color:      #fff;;
}
</code></pre></div>

						</div>
						<!-- End of Code Highlight Attached -->

<p data-height="265" data-theme-id="0" data-slug-hash="rJmYEB" data-default-tab="html,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Contenedor cuadrícula" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/rJmYEB/">Contenedor cuadrícula</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
                
 <hr><!-- ----------------------------------------------------------------- -->   

<p>Todos los hijos directos ahora son elementos de la cuadrícula. En un navegador web, no verá ninguna diferencia en cómo se muestran estos elementos antes de convertirlos en una cuadrícula, ya que la cuadrícula ha creado una regilla de columna única para los elementos.</p>






<h3 class="category-title" id="diseno-web">Pistas de cuadrícula
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
</h3>

<p>Definimos filas y columnas en nuestra cuadrícula con las propiedades <code>grid-template-columns</code> y <code>grid-template-rows</code>. Estos <strong>definen pistas de cuadrícula</strong>. <strong>Una pista de cuadrícula es el espacio entre dos líneas de la cuadrícula</strong>.</p>

<p>Al ejemplo anterior agregar la propiedad <code>grid-template-columns</code>.</p>

<p>Se he creado una cuadrícula con tres pistas de columna de 200 píxeles de ancho. Los elementos secundarios se distribuirán en esta cuadrícula uno en cada celda de la cuadrícula.</p>

         <!-- Code Highlight Attached -->
						<div class="code-highlight-attached">
							<div class="code-highlight code-highlight-with-label" data-label="HTML">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-markup js-code">
&lt;div class="contenedor"&gt;
  &lt;div class="celda">1&lt;/div&gt;
  &lt;div class="celda">2&lt;/div&gt;
  &lt;div class="celda">3&lt;/div&gt;
  &lt;div class="celda">4&lt;/div&gt;
  &lt;div class="celda">5&lt;/div&gt;
&lt;/div&gt;
</code></pre> </div>
							<div class="code-highlight code-highlight-with-label" data-label="CSS">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-css js-code">
/* Reset.css incluido */

.contenedor {
  display:               grid;
  grid-template-columns: 200px 200px 200px;
}

.celda {
  background:            #abcdef;
  height:                2em;
  margin:                .2em;
  color:                 #fff;;
}
</code></pre></div>

						</div>
						<!-- End of Code Highlight Attached -->

<p data-height="265" data-theme-id="0" data-slug-hash="bLWaLJ" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Pistas de cuadrícula" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/bLWaLJ/">Pistas de cuadrícula</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
                
 <hr><!-- ----------------------------------------------------------------- -->   

 <p>La propiedad <code>grid-gap</code> se utiliza para crear una separación entre columnas y filas de 10px. Esta propiedad es una abreviatura para <code>grid-column-gap</code> y <code>grid-row-gap</code> que establece estos valores individualmente.</p>
         
         <!-- Code Highlight Attached -->
						<div class="code-highlight-attached">
							<div class="code-highlight code-highlight-with-label" data-label="HTML">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-markup js-code">
&lt;div class="wrapper"&gt;
  &lt;div class="box a">A&lt;/div&gt;
  &lt;div class="box b">B&lt;/div&gt;
  &lt;div class="box c">C&lt;/div&gt;
  &lt;div class="box d">D&lt;/div&gt;
  &lt;div class="box e">E&lt;/div&gt;
  &lt;div class="box f">F&lt;/div&gt;
&lt;/div&gt;
</code></pre> </div>
							<div class="code-highlight code-highlight-with-label" data-label="CSS">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-css js-code">
body {
    margin:                40px;
}

.wrapper {
    display:               grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap:              10px;
    background-color:      #fff;
    color:                 #444;
}

.box {
    background-color:      #444;
    color:                 #fff;
    border-radius:         5px;
    padding:               20px;
    font-size:             150%;
}
</code></pre></div>

						</div>
						<!-- End of Code Highlight Attached -->
         
         
<p data-height="400" data-theme-id="0" data-slug-hash="oBadMz" data-default-tab="result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Definiendo un gris" class="codepen">See the Pen <a href="http://codepen.io/franciscomarinas/pen/oBadMz/">Definiendo un gris</a> by Francisco (<a href="http://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
                
 <hr><!-- ----------------------------------------------------------------- -->   

<p>Una plantilla de columnas de regilla de <code>grid-template-columns: 100px 200px 300px;</code></p>
         
         <!-- Code Highlight Attached -->
						<div class="code-highlight-attached">
							<div class="code-highlight code-highlight-with-label" data-label="HTML">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-markup js-code">
&lt;div class="wrapper"&gt;
  &lt;div class="box a">A&lt;/div&gt;
  &lt;div class="box b">B&lt;/div&gt;
  &lt;div class="box c">C&lt;/div&gt;
  &lt;div class="box d">D&lt;/div&gt;
  &lt;div class="box e">E&lt;/div&gt;
  &lt;div class="box f">F&lt;/div&gt;
&lt;/div&gt;
</code></pre> </div>
							<div class="code-highlight code-highlight-with-label" data-label="CSS">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-css js-code">
body {
    margin:                40px;
}

.wrapper {
    display:               grid;
    grid-template-columns: 100px 200px 300px;
    grid-gap:              10px;
    background-color:      #fff;
    color:                 #444;
}

.box {
    background-color:      #444;
    color:                 #fff;
    border-radius:         5px;
    padding:               20px;
    font-size:             150%;
}
</code></pre></div>

						</div>
						<!-- End of Code Highlight Attached -->
         
         
<p data-height="265" data-theme-id="0" data-slug-hash="wgQMoe" data-default-tab="result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Regilla grid-template-columns: 100px 200px 300px;" class="codepen">See the Pen <a href="http://codepen.io/franciscomarinas/pen/wgQMoe/">Regilla grid-template-columns: 100px 200px 300px;</a> by Francisco (<a href="http://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>


 <hr><!-- ----------------------------------------------------------------- -->        
             
<h3 class="category-title" id="diseno-web">Unidad fr
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#simple-highlight">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
</h3>

              
         <p>La unidad <code>fr</code> representa una fracción del espacio libre disponible.</p>
         
         <p>La unidad <strong>fr (o &lt;flex&gt;)</strong> se define como una fracción del espacio disponible. La cuota de cada columna o fila del espacio libre se puede calcular como: 
         <br><code> &lt;flex&gt; * &lt;espacio libre&gt; / &lt;suma de todos los factores flex&gt; de la columna o de la fila</code>.</p>
         
         <p>Se podría tener un elemento con 3fr ocupando tres veces la cantidad de espacio que un hermano con 1fr asignado.</p>
         
         <p>El siguiente ejemplo crea tres columnas iguales ocupando todo el espacio disponible:</p>
         
                  <!-- Code Highlight Attached -->
						<div class="code-highlight-attached">
							<div class="code-highlight code-highlight-with-label" data-label="HTML">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-markup js-code">
&lt;div class="contenedor"&gt;
  &lt;div class="celda">1&lt;/div&gt;
  &lt;div class="celda">2&lt;/div&gt;
  &lt;div class="celda">3&lt;/div&gt;
  &lt;div class="celda">4&lt;/div&gt;
  &lt;div class="celda">5&lt;/div&gt;
&lt;/div&gt;
</code></pre> </div>
							<div class="code-highlight code-highlight-with-label" data-label="CSS">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-css js-code">
/* Reset.css incluido */

.contenedor {
  display:               grid;
  grid-template-columns: 1fr 1fr 1fr;;
}

.celda {
  background:            #abcdef;
  height:                2em;
  margin:                .2em;
  color:                 #fff;;
}
</code></pre></div>

						</div>
						<!-- End of Code Highlight Attached -->
        
<p data-height="265" data-theme-id="0" data-slug-hash="BYdwde" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Unidad fr" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/BYdwde/">Unidad fr</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>


 <hr><!-- ----------------------------------------------------------------- -->           
         
         
         
         
         
         
         
         
         
         
         
         <!-- Code Highlight Attached -->
						<div class="code-highlight-attached">
							<div class="code-highlight code-highlight-with-label" data-label="HTML">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-markup js-code">
&lt;div class="wrapper"&gt;
  &lt;div class="box a">A&lt;/div&gt;
  &lt;div class="box b">B&lt;/div&gt;
  &lt;div class="box c">C&lt;/div&gt;
  &lt;div class="box d">D&lt;/div&gt;
  &lt;div class="box e">E&lt;/div&gt;
  &lt;div class="box f">F&lt;/div&gt;
  &lt;div class="box g">G&lt;/div&gt;
  &lt;div class="box h">H&lt;/div&gt;
&lt;/div&gt;
</code></pre> </div>
							<div class="code-highlight code-highlight-with-label" data-label="CSS">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-css js-code">
body {
    margin:                40px;
}

.wrapper {
    display:               grid;
    grid-template-columns: 1fr 2fr 3fr 300px;
    grid-gap:              10px;
    background-color:      #fff;
    color:                 #444;
}

.box {
    background-color:      #444;
    color:                 #fff;
    border-radius:         5px;
    padding:               20px;
    font-size:             150%;
}
</code></pre></div>

						</div>
						<!-- End of Code Highlight Attached -->
         
         
<p data-height="265" data-theme-id="0" data-slug-hash="qRQbod" data-default-tab="result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="fr" class="codepen">See the Pen <a href="http://codepen.io/franciscomarinas/pen/qRQbod/">fr</a> by Francisco (<a href="http://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>








 <hr><!-- ----------------------------------------------------------------- -->        
         
         
         
         <p><code>grid-template-rows:    100px 100px 100px;</code></p>
         
         <!-- Code Highlight Attached -->
						<div class="code-highlight-attached">
							<div class="code-highlight code-highlight-with-label" data-label="HTML">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-markup js-code">
&lt;div class="wrapper"&gt;
  &lt;div class="box a">A&lt;/div&gt;
  &lt;div class="box b">B&lt;/div&gt;
  &lt;div class="box c">C&lt;/div&gt;
  &lt;div class="box d">D&lt;/div&gt;
  &lt;div class="box e">E&lt;/div&gt;
  &lt;div class="box f">F&lt;/div&gt;
  &lt;div class="box g">G&lt;/div&gt;
  &lt;div class="box h">H&lt;/div&gt;
  &lt;div class="box g">G&lt;/div&gt;
  &lt;div class="box h">H&lt;/div&gt;
  &lt;div class="box i">I&lt;/div&gt;
&lt;/div&gt;
</code></pre> </div>
							<div class="code-highlight code-highlight-with-label" data-label="CSS">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-css js-code">
body {
    margin:                0px;
}

.wrapper {
  
    display:               grid;
    grid-template-columns: 100px 100px 100px;
  
    grid-template-rows:    100px 
                           100px 
                           100px;
  
    grid-gap:              10px;
    background-color:      #fff;
    color:                 #444;
}

.box {
    background-color:      #444;
    color:                 #fff;
    border-radius:         5px;
    padding:               20px;
    font-size:             150%;
}

@media(max-width:350px){
  .wrapper {
  
    display:               grid;
    
    grid-template-columns: 1fr;
    grid-template-rows:    none;
  }
}
</code></pre></div>

						</div>
						<!-- End of Code Highlight Attached -->
         
         
<p data-height="400" data-theme-id="0" data-slug-hash="oBQbRz" data-default-tab="result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="grid-template-rows" class="codepen">See the Pen <a href="http://codepen.io/franciscomarinas/pen/oBQbRz/">grid-template-rows</a> by Francisco (<a href="http://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>








 <hr><!-- ----------------------------------------------------------------- -->        
         
         
         
         <p><code>grid-template-rows:    1fr 2fr 3fr 300px;</code></p>
         
         <!-- Code Highlight Attached -->
						<div class="code-highlight-attached">
							<div class="code-highlight code-highlight-with-label" data-label="HTML">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-markup js-code">
&lt;div class="wrapper"&gt;
  &lt;div class="box a">1fr,1fr&lt;/div&gt;
  &lt;div class="box b">2fr,1fr&lt;/div&gt;
  &lt;div class="box c">3fr,1fr&lt;/div&gt;
  &lt;div class="box d">300px,1fr&lt;/div&gt;
  &lt;div class="box e">1fr,2fr&lt;/div&gt;
  &lt;div class="box f">2fr,2fr&lt;/div&gt;
  &lt;div class="box g">3fr,2fr&lt;/div&gt;
  &lt;div class="box h">100px,2fr&lt;/div&gt;
  &lt;div class="box a">1fr,3fr&lt;/div&gt;
  &lt;div class="box b">2fr,3fr&lt;/div&gt;
  &lt;div class="box c">3fr,3fr&lt;/div&gt;
  &lt;div class="box d">100px,3fr&lt;/div&gt;
  &lt;div class="box e">1fr,100px&lt;/div&gt;
  &lt;div class="box f">2fr,100px&lt;/div&gt;
  &lt;div class="box g">3fr,100px&lt;/div&gt;
  &lt;div class="box h">100px,100px&lt;/div&gt;
&lt;/div&gt;
</code></pre> </div>
							<div class="code-highlight code-highlight-with-label" data-label="CSS">
								<span class="js-copy-to-clipboard copy-code">copy</span> <pre><code class="language-css js-code">
body {
    margin:                0px;
}

.wrapper {
  
    display:               grid;
    grid-template-columns: 1fr 2fr 3fr 100px;
  
    height:                100vh;
    grid-template-rows:    1fr 
                           2fr 
                           3fr 
                           100px;
  
    grid-gap:              10px;
    background-color:      #fff;
    color:                 #444;
}

.box {
    background-color:      #444;
    color:                 #fff;
    border-radius:         5px;
    padding:               5px;
    font-size:             1em;
}
</code></pre></div>

						</div>
						<!-- End of Code Highlight Attached -->
         
         
<p data-height="600" data-theme-id="0" data-slug-hash="zNMqwq" data-default-tab="result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="grid-template-rows y fr" class="codepen">See the Pen <a href="http://codepen.io/franciscomarinas/pen/zNMqwq/">grid-template-rows y fr</a> by Francisco (<a href="http://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>






















    
    </div>

<!-- End of Caregory Info -->

                  		
                  		
                  		
                  		
                  		
                  		
                  		
                  		
                  		
                  		
     
                  		
                  		
                  		
                  		
                  		
                  		
                  		

                        <a href="https://www.sitepoint.com/introducing-the-css-grid-layout/">Introducing the CSS Grid Layout</a>
                        <a href="http://gridbyexample.com/examples/">Grid by Example</a>
                        <a href="https://carlosazaustre.es/blog/css-grid-layout-css/">El futuro de CSS Grid Layout</a>      
                        <a href="https://css-tricks.com/snippets/css/complete-guide-grid/">A Complete Guide to Grid</a>   
                        
                          		<a href="https://www.youtube.com/watch?v=ChOhcHD8fBA">PATAGONIA 8K</a>  	
                          		<a href="https://www.youtube.com/watch?v=pAKm85lST3o">NEW ZEALAND - TIMELAPSE TEASER</a>	
                  		
                  		
                  		
                  		
                  		

                   
</div></div></div></div>