
		<!-- Header Back -->
		<div class="header-back header-back-simple header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Page Info -->
							<div class="page-info page-info-simple">
								<h1 class="page-title">Posici贸n en CSS</h1>
								<h2 class="page-description">Cuando los navegadores procesan el contenido Html y Css crean una caja para representar cada elemento que se posiciona dentro del flujo del contenido html.</h2>
							</div>
							<!-- End Page Info -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header Back -->
        <!-- yield -->
        
        
        
        
        
        
        
        
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        
                        
                        
                        
                                          
                        
								<!-- Table of content -->
								<div class="table-of-contents">
									<ol>
										<li>
											<a href="#" class="js-scroll-to" data-target="#cajas">Posici贸n en CSS</a>
										</li>
										
									</ol>
								</div>
                        
                        
                        

                                               
          <!-- Category Info -->
    <div class="category-info " id="arquitectura-front-end">
							<h3 class="category-title">Posici贸n en CSS
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#cajas">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
        </h3>
        
        
             <h4><strong>Position absolute</strong></h4>
      
      <img src="images/position-absolute.png" alt="">
      
      <p>El elemento se posiciona, respecto a su esquina superior izquierda, en coordenadas de top, left, bottom, right respecto, a la esquina superior izquierda, del elemento padre que tenga una propiedad  position asignada, y si no el body.</p>
      <p>Pasan a situarse en otro nivel y el espacio que acupaban es remplazado por el flujo normal del documento html.</p>

      <p data-height="265" data-theme-id="0" data-slug-hash="oxxXZv" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/franciscomarinas/pen/oxxXZv/">position: absolute;</a> by Francisco (<a href="http://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="http://codepen.io">CodePen</a>.</p>
        <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        
        
        <p></p>
      <h4><strong>Position relative</strong></h4>
      
      <img src="images/position-relative.png" alt="">
      
      <p>El elemento se posiciona respento a su propia coordenanda superior izquierda, aunque la posici贸n original sigue formando parte del flujo del documento.</p>  
        
      <p data-height="265" data-theme-id="0" data-slug-hash="akKJjJ" data-default-tab="css,result" data-user="franciscomarinas" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/franciscomarinas/pen/akKJjJ/">position: relative;</a> by Francisco (<a href="http://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>        
        
     
      
      
      <p></p>
      <h4><strong>Position fixed</strong></h4>
      
      <img src="images/position-fixed.png" alt="">
      
      <p>Se escapa del flujo normal del documento html y su espacio es ocupado por este flujo.</p>
      
      <p data-height="265" data-theme-id="0" data-slug-hash="ONNLZj" data-default-tab="html,result" data-user="franciscomarinas" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/franciscomarinas/pen/ONNLZj/">position: fixed;</a> by Francisco (<a href="http://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        
        
<!-- End of Caregory Info -->




                  
  
                   
</div></div></div></div>