
		<!-- Header Back -->
		<div class="header-back header-back-simple header-back-small">
			<div class="header-back-container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Page Info -->
							<div class="page-info page-info-simple">
								<h1 class="page-title">Modelo regiones</h1>
								<h2 class="page-description">Modelo regiones.</h2>
							</div>
							<!-- End Page Info -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header Back -->
        <!-- yield -->
        
        
        
        
        
        
        
        
        
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        
                        
                        
                        
                                          
                        
								<!-- Table of content -->
								<div class="table-of-contents">
									<ol>
										<li>
											<a href="#" class="js-scroll-to" data-target="#cajas">Modelo regiones</a>
										</li>
										
									</ol>
								</div>
                        
                        
                        

                                               
          <!-- Category Info -->
    <div class="category-info " id="arquitectura-front-end">
							<h3 class="category-title">Modelo regiones
            <!-- Fragment Identifier -->
            <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#cajas">
                <i class="fa fa-link"></i>
            </a>
            <!-- End of Fragment Identifier -->
        </h3>
        
        
             <h4><strong>Modelo regiones</strong></h4>
     <p data-height="265" data-theme-id="0" data-slug-hash="KaJJvB" data-default-tab="html,result" data-user="franciscomarinas" data-embed-version="2" data-pen-title="Módulo de Regiones CSS" class="codepen">See the Pen <a href="https://codepen.io/franciscomarinas/pen/KaJJvB/">Módulo de Regiones CSS</a> by Francisco (<a href="https://codepen.io/franciscomarinas">@franciscomarinas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
        
<!-- End of Caregory Info -->




                  
  
                   
</div></div></div></div>