		<footer class="js-footer-is-fixed">
			<!-- Footer Extended -->
			<div class="footer-extended">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="footer-extended-container">
								<div class="row">
									<div class="col-md-2 col-sm-2 col-xs-4">
										<div class="footer-extended-menu">
											<h5 class="footer-extended-menu-title">francisco</h5>
											<ul class="footer-extended-menu-list">
                                                <li>
                                                    <a href="#">Inicio</a>
                                                </li>
                                                <li>
                                                    <a href="cv.html">CV</a>
                                                </li>
											</ul>
										</div>
									</div>
									<div class="col-md-2 col-sm-2 col-xs-4">
										<div class="footer-extended-menu">
											<h5 class="footer-extended-menu-title">Arquitectura Font-End</h5>
											<ul class="footer-extended-menu-list">
                                                <li>
                                                    <a href="arquitectura-front-end.html">Arquitectura Font-End</a>
                                                </li>
                                                <li>
                                                    <a href="arquitectura-front-end.html">Marcado HTML5</a>
                                                </li>
                                                <li>
                                                    <a href="arquitectura-front-end.html">CSS3</a>
                                                </li>
                                                <li>
                                                    <a href="arquitectura-front-end.html">Posición en CSS</a>
                                                </li>
                                                <li>
                                                    <a href="arquitectura-front-end.html">Flotar en CSS</a>
                                                </li>
											</ul>
										</div>
									</div>
									<div class="col-md-2 col-sm-2 col-xs-4">
										<div class="footer-extended-menu">
											<h5 class="footer-extended-menu-title">Módulos</h5>
											<ul class="footer-extended-menu-list">
												<li>
													<a href="modelo-multi-columnas-css3.html">Modelo Multi-columnas</a>
												</li>
												<li>
													<a href="arquitectura-front-end.html">Modelo flexible de cajas</a>
												</li>
												<li>
													<a href="arquitectura-front-end.html">Modelo de regilla</a>
												</li>
												<li>
													<a href="arquitectura-front-end.html">Modelo regiones</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="clearfix visible-xs-block"></div>
									<div class="col-md-2 col-sm-2 col-xs-4">
										<div class="footer-extended-menu">
											
											<h5 class="footer-extended-menu-title">Rendimiento</h5>
											<ul class="footer-extended-menu-list">
                                                <li>
                                                    <a href="rendimiento.html">Rendimiento</a>
                                                </li>
                                                <li>
                                                    <a href="titaniocss.html">Titanio CSS</a>
                                                </li>
											</ul>
											
										</div>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-8">
										<div class="footer-extended-menu">
											<h5 class="footer-extended-menu-title">Subscribe</h5>
											<ul class="socials-footer">
												<li>
													<a href="#" class="socials-footer-link">
														<i class="fa fa-facebook"></i>
													</a>
												</li>
												<li>
													<a href="#" class="socials-footer-link">
														<i class="fa fa-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#" class="socials-footer-link">
														<i class="fa fa-youtube-play"></i>
													</a>
												</li>
												<li>
													<a href="#" class="socials-footer-link">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
												<li>
													<a href="#" class="socials-footer-link">
														<i class="fa fa-google-plus"></i>
													</a>
												</li>
												<li>
													<a href="#" class="socials-footer-link">
														<i class="fa fa-github-alt"></i>
													</a>
												</li>
											</ul>
											<div class="subscribe-form-block-footer">
												<form action="#">
													<input type="text" name="email" id="subscribe-email-footer" class="subscribe-input-footer" placeholder="Email address">
													<button class="subscribe-button-footer">
														<i class="fa fa-angle-right"></i>
													</button>
												</form>
											</div>
											<p class="text-footer">For any questions contact us at:
												<a href="mailto:support@vsart.me" target="_top">support@vsart.me</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Footer Extended -->
			<!-- Footer Default -->
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="footer-logo-wrapper">
								<!-- Logo Image -->
								<a href="index.html" class="logo-image ">
									<img src="img/logos/logo.png" alt="logo">
								</a>
								<!-- End of Logo Image -->
								<!-- Slogan -->
								<p class="slogan"> Learn.
									<br>Create.
									<br>Impress. </p>
								<!-- End of Slogan -->
							</div>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="footer-wrapper">
								<!-- Scroll top -->
								<span class="scroll-top js-scroll-top">
									<i class="fa fa-angle-up"></i>
								</span>
								<!-- End of Scroll top -->
								<!-- Version -->
								<div class="docs-version js-docs-version">
									<span class="docs-current-version js-docs-current-version">v3.5</span>
									<ul class="js-docs-version-list">
										<li>
											<a href="#">1.0</a>
										</li>
										<li>
											<a href="#">1.5</a>
										</li>
										<li>
											<a href="#">2.5</a>
										</li>
										<li>
											<a href="#">3.0</a>
										</li>
										<li>
											<a href="#">3.1</a>
										</li>
									</ul>
								</div>
								<!-- End of Version -->
								<!-- Footer Menu -->
								<ul class="footer-menu helper right">
									<li>
										<a href="#"> About us </a>
									</li>
									<li>
										<a href="#"> Privacy Policy </a>
									</li>
									<li>
										<a href="#"> Terms & Condotions </a>
									</li>
									<li>
										<a href="#"> My account </a>
									</li>
									<li>
										<a href="#"> Support service </a>
									</li>
								</ul>
								<!-- End of Footer Menu -->
								<!-- Copyright -->
								<p class="copyright helper right">
									<a href="http://vsart.me">VSArt</a>, all rights reserved. 2016 &copy; </p>
								<!-- End of Copyright -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Footer Default -->
		</footer>
		